@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/nru1nwu.css");


@import url("https://use.typekit.net/nru1nwu.css");



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html{
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FDFAF0;
  font-family: Swear Text;
}

h1{
  font-family: Swear Text;
}
h2{
  font-family: degular, sans-serif;

}

p{
  font-family: degular-text, sans-serif;

}

a{
  color:black;
}